.section-title {
    border: 1px solid;
    margin: 10px 400px 10px 400px;
    border-radius: 0px;
    border-color: rgba(0, 0, 0, .12);
    background-color:black; 
}

.button-width {
    width: 272px;
}

.button-ml{
    margin-left: 2px;
}