.add-file-button {
    width: 100%;
}

.mat-radio-outer-circle{
    border-color:#003E56
}
.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle .mat-radio-button.mat-accent .mat-radio-inner-circle{
  background-color:#003E56
}
.mat-radio-persistent-ripple{
  background-color:#003E56
}

.mat-radio-button.mat-accent .mat-radio-inner-circle, .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element:not(.mat-radio-persistent-ripple), .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-persistent-ripple, .mat-radio-button.mat-accent:active .mat-radio-persistent-ripple {
  background-color:#003E56
}
  
  .image-info {
    text-align: center;
  }
  
  .right-button {
    padding-right: 10px;
    padding-top: 10px;
  }
  
  .left-button {
    padding-right: 10px;
  }

  .p-24{
    padding: 24px;
  }

  .mb-24{
    margin-bottom: 24px
  }

  .w-100{
    width: 100%
  }

  .w-50{
    width: 48%
  }

  .ml-2{
    margin-left: 0%
  }

  .section-title {
    border: 1px solid;
    border-radius: 2px;
    padding: 6px;
    border-color: rgba(0, 0, 0, .12);
  }

  .font-weight-500{
    font-weight: 600;
  }

  .img-size{
    width: 100px;
    height: 100px;
  }

  .label-margin {
    margin: 10px 10px 10px 0px;
  }

  .upload-info {
    text-align: center;
  }

  .btn-align{
    text-align: end;
  }
  
  .pt-24{
    padding-top: 16px;
  }

  .mr-8{
    margin-right: 8px;
  }

  .border-primary {
    border-color: #003E56!important;
  }

  .btn-primary{
    color: white!important;
  }

  .btn-black{
    background-color: rgb(8, 8, 8)!important;
    color: white!important;
  }