<div id="forms" class="page-layout simple fullwidth" fxLayout="column">

    <div class="content p-24">
        <div fxLayout="column" fxLayoutAlign="start start" fxLayout.gt-md="row">
            <form class="mat-white-bg mat-elevation-z4 p-24 mb-24" enctype="multipart/form-data" fxLayout="column" fxLayoutAlign="start"
                fxFlex="1 0 auto" name="form" [formGroup]="recruitmentForm" (ngSubmit)="addRecruitment()">

                <div class="h2 mb-24">Add Recruitment Information</div>

                <div class="section-title px-8">
                    <span class="text-uppercase font-weight-500 p-12" fxFlex="90">Candidate Information</span>
                    <button mat-icon-button fxFlex="10" type="button" (click)="openTechnicalCompetenciesDialog()">
                        <mat-icon>edit</mat-icon>
                    </button>
                </div>
                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                    <mat-form-field class="w-50">
                        <input matInput placeholder="Name" formControlName="candidateName" required>
                        <mat-error *ngIf="formErrors.candidateName.required">
                            Candidate Name is required!
                        </mat-error>
                        <mat-error *ngIf="formErrors.candidateName.maxlength">
                            Only 50 characters are allowed!
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field class="w-50 ml-2">
                        <input matInput placeholder="Position" formControlName="candidatePosition" required>
                        <mat-error *ngIf="formErrors.candidatePosition.required">
                            Candidate Position is required!
                        </mat-error>
                        <mat-error *ngIf="formErrors.candidatePosition.maxlength">
                            Only 50 characters are allowed!
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="section-title px-8">
                    <span class="text-uppercase font-weight-500 p-12" fxFlex="90">Interview Assessment</span>
                    <button mat-icon-button fxFlex="10" type="button" (click)="openTechnicalCompetenciesDialog()">
                        <mat-icon>edit</mat-icon>
                    </button>
                </div>
                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                    <div class="w-100">
                        <label class="label-margin">Relevant Education: </label>
                        <mat-radio-group formControlName="relevantEducation">
                            <mat-radio-button class="label-margin" value="0">Not Applicable</mat-radio-button>
                            <mat-radio-button class="label-margin" value="1">Fair</mat-radio-button>
                            <mat-radio-button class="label-margin" value="3">Satisfactory</mat-radio-button>
                            <mat-radio-button class="label-margin" value="4">Good</mat-radio-button>
                        </mat-radio-group>
                        <mat-error *ngIf="formErrors.relevantEducation.required">
                            Relevant Education is required!
                        </mat-error>
                    </div>
                </div>
                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                    <div class="w-100">
                        <label class="label-margin">Relevant Job Persistance: </label>
                        <mat-radio-group formControlName="relevantJobPersistance">
                            <mat-radio-button class="label-margin" value="0">Not Applicable</mat-radio-button>
                            <mat-radio-button class="label-margin" value="1">Fair</mat-radio-button>
                            <mat-radio-button class="label-margin" value="3">Satisfactory</mat-radio-button>
                            <mat-radio-button class="label-margin" value="4">Good</mat-radio-button>
                        </mat-radio-group>
                        <mat-error *ngIf="formErrors.relevantJobPersistance.required">
                            Relevant Job Persistance is required!
                        </mat-error>
                    </div>
                </div>
                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                    <div class="w-100">
                        <label class="label-margin">Relevant Job Experience: </label>
                        <mat-radio-group formControlName="relevantJobExperience">
                            <mat-radio-button class="label-margin" value="0">Not Applicable</mat-radio-button>
                            <mat-radio-button class="label-margin" value="1">Fair</mat-radio-button>
                            <mat-radio-button class="label-margin" value="3">Satisfactory</mat-radio-button>
                            <mat-radio-button class="label-margin" value="4">Good</mat-radio-button>
                        </mat-radio-group>
                        <mat-error *ngIf="formErrors.relevantJobExperience.required">
                            Relevant Job Experience is required!
                        </mat-error>
                    </div>
                </div>

                <div class="section-title px-8">
                    <span class="text-uppercase font-weight-500 p-12" fxFlex="90">Personal and Technical traits</span>
                    <button mat-icon-button fxFlex="10" type="button" (click)="openTechnicalCompetenciesDialog()">
                        <mat-icon>edit</mat-icon>
                    </button>
                </div>
                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                    <div class="w-100">
                        <label class="label-margin">Appearance: </label>
                        <mat-radio-group formControlName="appearance">
                            <mat-radio-button class="label-margin" value="0">Not Applicable</mat-radio-button>
                            <mat-radio-button class="label-margin" value="1">Fair</mat-radio-button>
                            <mat-radio-button class="label-margin" value="3">Satisfactory</mat-radio-button>
                            <mat-radio-button class="label-margin" value="4">Good</mat-radio-button>
                        </mat-radio-group>
                        <mat-error *ngIf="formErrors.appearance.required">
                            Appearance is required!
                        </mat-error>
                    </div>
                </div>
                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                    <div class="w-100">
                        <label class="label-margin">Communication Skills: </label>
                        <mat-radio-group formControlName="communicationSkills">
                            <mat-radio-button class="label-margin" value="0">Not Applicable</mat-radio-button>
                            <mat-radio-button class="label-margin" value="1">Fair</mat-radio-button>
                            <mat-radio-button class="label-margin" value="3">Satisfactory</mat-radio-button>
                            <mat-radio-button class="label-margin" value="4">Good</mat-radio-button>
                        </mat-radio-group>
                        <mat-error *ngIf="formErrors.communicationSkills.required">
                            Communication Skills is required!
                        </mat-error>
                    </div>
                </div>
                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                    <div class="w-100">
                        <label class="label-margin">Basic Programming Skills: </label>
                        <mat-radio-group formControlName="basicProgrammingSkills">
                            <mat-radio-button class="label-margin" value="0">Not Applicable</mat-radio-button>
                            <mat-radio-button class="label-margin" value="1">Fair</mat-radio-button>
                            <mat-radio-button class="label-margin" value="3">Satisfactory</mat-radio-button>
                            <mat-radio-button class="label-margin" value="4">Good</mat-radio-button>
                        </mat-radio-group>
                        <mat-error *ngIf="formErrors.basicProgrammingSkills.required">
                            Basic Programming Skills is required!
                        </mat-error>
                    </div>
                </div>
                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                    <div class="w-100">
                        <label class="label-margin">Object Oriented Concepts: </label>
                        <mat-radio-group formControlName="objectOrientedConcepts">
                            <mat-radio-button class="label-margin" value="0">Not Applicable</mat-radio-button>
                            <mat-radio-button class="label-margin" value="1">Fair</mat-radio-button>
                            <mat-radio-button class="label-margin" value="3">Satisfactory</mat-radio-button>
                            <mat-radio-button class="label-margin" value="4">Good</mat-radio-button>
                        </mat-radio-group>
                        <mat-error *ngIf="formErrors.objectOrientedConcepts.required">
                            Object Oriented Concepts is required!
                        </mat-error>
                    </div>
                </div>
                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                    <div class="w-100">
                        <label class="label-margin">Data Structure Concepts: </label>
                        <mat-radio-group formControlName="dataStructureConcepts">
                            <mat-radio-button class="label-margin" value="0">Not Applicable</mat-radio-button>
                            <mat-radio-button class="label-margin" value="1">Fair</mat-radio-button>
                            <mat-radio-button class="label-margin" value="3">Satisfactory</mat-radio-button>
                            <mat-radio-button class="label-margin" value="4">Good</mat-radio-button>
                        </mat-radio-group>
                        <mat-error *ngIf="formErrors.dataStructureConcepts.required">
                            Data Structure Concepts is required!
                        </mat-error>
                    </div>
                </div>
                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                    <div class="w-100">
                        <label class="label-margin">Algorithm: </label>
                        <mat-radio-group formControlName="algorithm">
                            <mat-radio-button class="label-margin" value="0">Not Applicable</mat-radio-button>
                            <mat-radio-button class="label-margin" value="1">Fair</mat-radio-button>
                            <mat-radio-button class="label-margin" value="3">Satisfactory</mat-radio-button>
                            <mat-radio-button class="label-margin" value="4">Good</mat-radio-button>
                        </mat-radio-group>
                        <mat-error *ngIf="formErrors.algorithm.required">
                            Algorithm is required!
                        </mat-error>
                    </div>
                </div>
                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                    <div class="w-100">
                        <label class="label-margin">Design Pattern: </label>
                        <mat-radio-group formControlName="designPattern">
                            <mat-radio-button class="label-margin" value="0">Not Applicable</mat-radio-button>
                            <mat-radio-button class="label-margin" value="1">Fair</mat-radio-button>
                            <mat-radio-button class="label-margin" value="3">Satisfactory</mat-radio-button>
                            <mat-radio-button class="label-margin" value="4">Good</mat-radio-button>
                        </mat-radio-group>
                        <mat-error *ngIf="formErrors.designPattern.required">
                            Design Pattern is required!
                        </mat-error>
                    </div>
                </div>
                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                    <div class="w-100">
                        <label class="label-margin">Programing Language Skills: </label>
                        <mat-radio-group formControlName="programingLanguageSkills">
                            <mat-radio-button class="label-margin" value="0">Not Applicable</mat-radio-button>
                            <mat-radio-button class="label-margin" value="1">Fair</mat-radio-button>
                            <mat-radio-button class="label-margin" value="3">Satisfactory</mat-radio-button>
                            <mat-radio-button class="label-margin" value="4">Good</mat-radio-button>
                        </mat-radio-group>
                        <mat-error *ngIf="formErrors.programingLanguageSkills.required">
                            Programing Language Skills is required!
                        </mat-error>
                    </div>
                </div>
                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                    <div class="w-100">
                        <label class="label-margin">Analytical Skills: </label>
                        <mat-radio-group formControlName="analyticalSkills">
                            <mat-radio-button class="label-margin" value="0">Not Applicable</mat-radio-button>
                            <mat-radio-button class="label-margin" value="1">Fair</mat-radio-button>
                            <mat-radio-button class="label-margin" value="3">Satisfactory</mat-radio-button>
                            <mat-radio-button class="label-margin" value="4">Good</mat-radio-button>
                        </mat-radio-group>
                        <mat-error *ngIf="formErrors.analyticalSkills.required">
                            Analytical Skills is required!
                        </mat-error>
                    </div>
                </div>
                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                    <div class="w-100">
                        <label class="label-margin">Understanding of Dev Lifecycle: </label>
                        <mat-radio-group formControlName="understandingOfDevLifeCycle">
                            <mat-radio-button class="label-margin" value="0">Not Applicable</mat-radio-button>
                            <mat-radio-button class="label-margin" value="1">Fair</mat-radio-button>
                            <mat-radio-button class="label-margin" value="3">Satisfactory</mat-radio-button>
                            <mat-radio-button class="label-margin" value="4">Good</mat-radio-button>
                        </mat-radio-group>
                        <mat-error *ngIf="formErrors.understandingOfDevLifeCycle.required">
                            Understanding of Dev Lifecycle is required!
                        </mat-error>
                    </div>
                </div>
                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                    <div class="w-100">
                        <label class="label-margin">Team Player Capability : </label>
                        <mat-radio-group formControlName="teamPlayerCapability">
                            <mat-radio-button class="label-margin" value="0">Not Applicable</mat-radio-button>
                            <mat-radio-button class="label-margin" value="1">Fair</mat-radio-button>
                            <mat-radio-button class="label-margin" value="3">Satisfactory</mat-radio-button>
                            <mat-radio-button class="label-margin" value="4">Good</mat-radio-button>
                        </mat-radio-group>
                        <mat-error *ngIf="formErrors.teamPlayerCapability.required">
                            Team Player Capability is required!
                        </mat-error>
                    </div>
                </div>
                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                    <div class="w-100">
                        <label class="label-margin">Team Lead Capability : </label>
                        <mat-radio-group formControlName="teamLeadCapability">
                            <mat-radio-button class="label-margin" value="0">Not Applicable</mat-radio-button>
                            <mat-radio-button class="label-margin" value="1">Fair</mat-radio-button>
                            <mat-radio-button class="label-margin" value="3">Satisfactory</mat-radio-button>
                            <mat-radio-button class="label-margin" value="4">Good</mat-radio-button>
                        </mat-radio-group>
                        <mat-error *ngIf="formErrors.teamLeadCapability.required">
                            Team Lead Capability is required!
                        </mat-error>
                    </div>
                </div>
                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                    <div class="w-100">
                        <label class="label-margin">Suitability for Position Applied : </label>
                        <mat-radio-group formControlName="suitabilityForAppliedPost">
                            <mat-radio-button class="label-margin" value="0">Not Applicable</mat-radio-button>
                            <mat-radio-button class="label-margin" value="1">Fair</mat-radio-button>
                            <mat-radio-button class="label-margin" value="3">Satisfactory</mat-radio-button>
                            <mat-radio-button class="label-margin" value="4">Good</mat-radio-button>
                        </mat-radio-group>
                        <mat-error *ngIf="formErrors.suitabilityForAppliedPost.required">
                            Suitability for Position Applied is required!
                        </mat-error>
                    </div>
                </div>
                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                    <div class="w-100">
                        <input hidden type="file" (change)="uploadFile($event)" accept="application/pdf" #fileInput/>
                        <button mat-raised-button class="upload-button mat-basic" type="button" (click)="fileInput.click()">
                            Upload CV
                        </button>
                        <div class="upload-info" *ngIf="resumeInfo.name">{{ resumeInfo.name }} ({{ resumeInfo.size }})</div>
                    </div>
                </div>
                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                    <mat-form-field class="w-100">
                        <input matInput placeholder="Score Obtained" type="number" formControlName="scoreObtained">
                        <mat-error *ngIf="formErrors.scoreObtained.required">
                            Score Obtained is required!
                        </mat-error>
                        <mat-error *ngIf="formErrors.scoreObtained.pattern">
                            Only numerals are allowed!
                        </mat-error>
                        <mat-error *ngIf="formErrors.scoreObtained.maxlength">
                            Only 50 characters are allowed!
                        </mat-error>
                    </mat-form-field>
                </div>
                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                    <div class="w-100">
                        <label class="label-margin">Overall Evaluation : </label>
                        <mat-radio-group formControlName="overallEvaluation">
                            <mat-radio-button class="label-margin" value="0">Not Applicable</mat-radio-button>
                            <mat-radio-button class="label-margin" value="1">Fair</mat-radio-button>
                            <mat-radio-button class="label-margin" value="3">Satisfactory</mat-radio-button>
                            <mat-radio-button class="label-margin" value="4">Good</mat-radio-button>
                        </mat-radio-group>
                        <mat-error *ngIf="formErrors.overallEvaluation.required">
                            Overall Evaluation is required!
                        </mat-error>
                    </div>
                </div>
                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                    <mat-form-field class="w-100">
                        <textarea matInput placeholder="Interviewer Comments" formControlName="interviewerComments" required></textarea>
                        <mat-error *ngIf="formErrors.interviewerComments.required">
                            Interviewer Comments is required!
                        </mat-error>
                        <mat-error *ngIf="formErrors.interviewerComments.maxlength">
                            Only 500 characters are allowed!
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="section-title px-8">
                    <span class="text-uppercase font-weight-500 p-12" fxFlex="90">Interviewer</span>
                    <button mat-icon-button fxFlex="10" type="button" (click)="openTechnicalCompetenciesDialog()">
                        <mat-icon>edit</mat-icon>
                    </button>
                </div>
                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                    <mat-form-field class="w-50">
                        <input matInput placeholder="Name" formControlName="interviewerName" required>
                        <mat-error *ngIf="formErrors.interviewerName.required">
                            Interviewer Name is required!
                        </mat-error>
                        <mat-error *ngIf="formErrors.interviewerName.maxlength">
                            Only 50 characters are allowed!
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field class="w-50 ml-2">
                        <input matInput placeholder="Designation" formControlName="interviewerDesignation" required>
                        <mat-error *ngIf="formErrors.interviewerDesignation.required">
                            interviewer Designation is required!
                        </mat-error>
                        <mat-error *ngIf="formErrors.interviewerDesignation.maxlength">
                            Only 50 characters are allowed!
                        </mat-error>
                    </mat-form-field>
                </div>
                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                    <div class="w-100">
                        <label class="label-margin">Recommendation: </label>
                        <mat-radio-group formControlName="recommendation">
                            <mat-radio-button class="label-margin" value="0">Not Applicable</mat-radio-button>
                            <mat-radio-button class="label-margin" value="1">Fair</mat-radio-button>
                            <mat-radio-button class="label-margin" value="3">Satisfactory</mat-radio-button>
                            <mat-radio-button class="label-margin" value="4">Good</mat-radio-button>
                        </mat-radio-group>
                        <mat-error *ngIf="formErrors.recommendation.required">
                            Recommendation is required!
                        </mat-error>
                    </div>
                </div>

                <div class="section-title px-8">
                    <span class="text-uppercase font-weight-500 p-12" fxFlex="90">Hiring Authority Remarks</span>
                    <button mat-icon-button fxFlex="10" type="button" (click)="openTechnicalCompetenciesDialog()">
                        <mat-icon>edit</mat-icon>
                    </button>
                </div>
                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                    <mat-form-field class="w-50">
                        <input matInput placeholder="Proposed Designation" formControlName="proposedDesignation" required>
                        <mat-error *ngIf="formErrors.proposedDesignation.required">
                            Proposed Designation is required!
                        </mat-error>
                        <mat-error *ngIf="formErrors.proposedDesignation.maxlength">
                            Only 50 characters are allowed!
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field class="w-50 ml-2">
                        <input matInput placeholder="Salary" formControlName="salary" required>
                        <mat-error *ngIf="formErrors.salary.required">
                            Salary is required!
                        </mat-error>
                        <mat-error *ngIf="formErrors.salary.pattern">
                            Only numerals are allowed!
                        </mat-error>
                        <mat-error *ngIf="formErrors.salary.maxlength">
                            Only 50 characters are allowed!
                        </mat-error>
                    </mat-form-field>
                </div>
                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                    <mat-form-field class="w-50">
                        <input matInput placeholder="Location" formControlName="location" required>
                        <mat-error *ngIf="formErrors.location.required">
                            Salary is required!
                        </mat-error>
                        <mat-error *ngIf="formErrors.location.maxlength">
                            Only 50 characters are allowed!
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="w-50 ml-2">
                        <textarea matInput placeholder="Other Benefits" formControlName="otherBenefits" required></textarea>
                        <mat-error *ngIf="formErrors.otherBenefits.required">
                            Other Benefits is required!
                        </mat-error>
                        <mat-error *ngIf="formErrors.otherBenefits.maxlength">
                            Only 50 characters are allowed!
                        </mat-error>
                    </mat-form-field>


                </div>
                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                    <mat-form-field class="w-50">
                        <input matInput placeholder="Date" type="date" formControlName="date" required>
                        <mat-error *ngIf="formErrors.date.required">
                            Date is required!
                        </mat-error>
                        <mat-error *ngIf="formErrors.date.maxlength">
                            Only 50 characters are allowed!
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="w-50 ml-2">
                        <textarea matInput placeholder="Hiring Authority Signature" formControlName="hiringAuthoritySignature" required></textarea>
                        <mat-error *ngIf="formErrors.hiringAuthoritySignature.required">
                            Hiring Authority Signature is required!
                        </mat-error>
                        <mat-error *ngIf="formErrors.hiringAuthoritySignature.maxlength">
                            Only 50 characters are allowed!
                        </mat-error>
                    </mat-form-field>
                </div>


                <div class="pt-24 btn-align" fxLayout="row" fxLayoutAlign="flex-end">
                    <button class="mr-8" mat-raised-button type="button" color="primary" [routerLink]="['/recruitments']">
                        Cancel
                    </button>
                    <button mat-raised-button type="submit" color="accent">
                        Save
                    </button>
                </div>

            </form>
        </div>
    </div>
</div>