<mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
</mat-form-field>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <ng-container matColumnDef="candidateName">
    <th mat-header-cell *matHeaderCellDef> Candidate Name </th>
    <td mat-cell *matCellDef="let element"> {{element.candidateInformation.name}} </td>
  </ng-container>

  <ng-container matColumnDef="candiateCv">
    <th mat-header-cell *matHeaderCellDef> Candidate CV </th>
    <td mat-cell *matCellDef="let element">
      <button class="btn btn-sm btn-outline-info" (click)="downloadCv(element)">
        ⏬
      </button>
    </td>
  </ng-container>

  <ng-container matColumnDef="interviewerName">
    <th mat-header-cell *matHeaderCellDef> Interviewer Name </th>
    <td mat-cell *matCellDef="let element"> {{element.interviewer.name}} </td>
  </ng-container>

  <ng-container matColumnDef="interviewerDesignation">
    <th mat-header-cell *matHeaderCellDef> Interviewer Designation </th>
    <td mat-cell *matCellDef="let element"> {{element.interviewer.designation}} </td>
  </ng-container>

  <ng-container matColumnDef="interviewDate">
    <th mat-header-cell *matHeaderCellDef> Inteview Date </th>
    <td mat-cell *matCellDef="let element"> {{element.hiringAuthorityRemarks.date | date}} </td>
  </ng-container>

  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef> Action </th>
    <td mat-cell *matCellDef="let element" class="action-link">
      <a (click)="editRecruitment(element)" class="pointer">Edit ✏</a> |
      <a (click)="deleteRecruitment(element)" class="pointer">Delete ❌</a>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>